section.take1 {
    animation: disappear 3s ease 3s forwards;
}

@keyframes disappear {

    0% {
        height: 100vh;
    }

    100% {
        height: 0;
    }
}

section.take2 img {
    position: absolute;
    transform: scale(0) translateZ(10vh);
    animation: image 5s ease-in-out 6s infinite forwards;
    aspect-ratio: 1/1;
    width: 10vh;
}

.icon:nth-child(1) {
    top: 60vh;
    left: 45%;
}

.icon:nth-child(2) {
    width: 15vh;
    top: 20vh;
    left: 30%;
}

.icon:nth-child(3) {
    width: 12vh;
    top: 30vh;
    left: 60%;
}

.icon:nth-child(4) {
    width: 15vh;
    top: 20vh;
    left: 70%;
}

.icon:nth-child(5) {
    width: 12vh;
    top: 20vh;
    left: 10%;
}

.icon:nth-child(6) {
    width: 12vh;
    top: 30vh;
    left: 80%;
}

.icon:nth-child(7) {
    top: 40vh;
    left: 50%;
}

.icon:nth-child(8) {
    top: 40vh;
    left: 20%;
}

@keyframes image {

    0% {
        top: 60vh;
        left: 45%;
    }

    30% {
        transform: scale(0.8);
        top: 50vh;
    }

    50% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.8);
    }
}